.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  border-top: 1px solid #3d3d3d;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transition: all 0.3s;
    background-color: rgba(97, 136, 255, 0.05);
  }
}

.star {
  color: gray;
  transition: all 0.3s;

  &:hover {
    color: #fff;
    transition: all 0.3s;
  }
}

.index {
  margin-left: 15px;
  margin-right: 38px;
}

.name {
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
}

.title {
  display: flex;
  align-items: center;
  width: 280px;
}

.detail {
  color: #f0b90b;
}

.change {
  display: flex;
  align-items: center;

  & svg {
    margin-right: 5px;
  }
}
