.container {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  margin: -40px -40px;
  background-color: #181a20;
}

.block {
}

.title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

.item {
  color: #848e9c;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    transition: all 0.5s;
    color: #eaecef;
  }
}
