.main {
  display: flex;
  flex-direction: column;
}

.newsCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--x5);
  margin-bottom: var(--x20);
}

.paginationWrapper {
  align-self: flex-end;
}

.titleWrapper {
  margin-bottom: var(--x12);
}

.pagination {
  display: flex;
  gap: var(--x1);
}