:root {
  --inactive-color-text: #C0C0C0;
  --capture-color-text: #CFCFCF;
  --border-color: #474D57;
  --primary-color: #FCD535;
  --subtext-color:#A1A7BB;
  --bg-card-color: #313131;
  --secondary-color-text: #B7BDC6;
}

