body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  border: none;
  outline: none;
}

p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
}

button,
button:active,
button:focus {
  outline: none;
  
}

input:active,
input:focus {
  outline: none;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
