.button {
  cursor: pointer;
  padding: var(--x2);
  border-radius: var(--x1);
  transition: all 0.3s;
  outline: none;
  border: none;

  &:hover {
    color: white;

  }
}

.primary {
  composes: button;
  background-color: var(--primary-color);

}

.secondary {
  composes: button;
  background-color: var(--border-color);
  color: var(--secondary-color-text);
}

.pagination {
  composes: button;
  color: var(--secondary-color-text);
  width: var(--x8);
  height: var(--x8);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.pagination-active {
  composes: pagination;
  background-color: var(--border-color);
}